---
const platform = "Github";
const username = "jess247";
---

<footer>
  <p>
    learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >
    <div>
        <h3>Find me on social media</h3>
        <ul>
            <li><a href="https://www.google.com"><i class="fa-brands fa-x-twitter" arialable="Twitter icon."></i></a></li>
            <li><a href="https://www.google.com"><i class="fa-brands fa-linkedin" arialable="LinkedIn icon."></i></a></li>
            <li><a href="https://www.google.com"><i class="fa-brands fa-github" arialable="Twitter icon."></i></a></li>
        </ul>
    </div>
  </p>
</footer>
