---
import Social from './Social.astro';
const platform = "Github";
const username = "jess247";
---

<footer>
  <p>
    learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >
    <div>
        <h3>Find me on social media</h3>
        <ul>
            <Social platform="twitter" username="placeholder" faName="fa-x-twitter"/>
            <Social platform="linkedIn" username="placeholder" faName="fa-linkedin"/>
            <Social platform="github" username="placeholder" faName="fa-github"/>
        </ul>
    </div>
  </p>
</footer>

<style>
    footer {
        position: fixed;
        width: 100vw;
        background-color: #252525;
        color:white;
        padding:1em 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    ul{
        display: flex;
        gap: 1em;
        list-style: none;
        padding: 0;
    }

    a {
        color: magenta;
    }
</style>
